// Body
$body-bg: #f8fafc;
/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$sucess:        #05a660;
$info:          #009dd7;
$danger:        #e63535;
$warning:       #fdac42;


/*
|--------------------------------------------------------------------------
| formulario
|--------------------------------------------------------------------------
*/
$dark:   #212529;
$gold: #a78000; 

