// Body
$body-bg: #f8fafc;
/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$primary:       #43c3de;
$secondary:     #778ca2;
$tertiary:      #2F9CB1;

$primary-dark:  #227181;
$tertiary-alt:  #67c5d7;
$color-table:   #555770;


$sucess:        #05a660;
$info:          #009dd7;
$danger:        #e63535;
$warning:       #fdac42;


/*
|--------------------------------------------------------------------------
| formulario
|--------------------------------------------------------------------------
*/
$dark:   #212529;
$gold: #a78000; 

