// Ajuste en el home
.form-search{
    input{
        border: 1px solid $gold !important;
        color: black;
    }

    input:focus {
        color: $gold;
    }

    .inp-search{
        width: 600px;
    }

    .btn-search, .btn-filtrar{
        padding: 6px 20px;
        border-radius: 30px;
        background: $gold;
        border: 2px solid $gold;
        color: $dark;
        font-weight: bold;
        &:hover{
            color: $gold;
            background: $dark;
            border: 2px solid #2e2e2e;
        }
    }

    .badge{
        padding: 6px 20px !important;
        border-radius: 30px !important;
        background: $gold !important;
        border: 1px solid $gold !important;
        font-weight: bold !important;
        height: 35px !important;
        font-size: 16px;
    }
    .form-check-label{
        color: $gold !important;
    }
}


.fill-gold {
    border: 1px solid $gold;
    width: 16px;
    height: 16px;
    background-color: $gold;

    //   &:hover{
    //   filter: invert(100%);
    // }
}
